# Server
PORT=5000
NODE_ENV=production
APP_URL=https://expro.up.railway.app

# JWT
JWT_SECRET=2d44c97feb8be5c0f99d50c4711d394ae58d689c269bf791c90f9cb600287fee

# SMTP (Gmail App Password recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ewf.exprogroup.bd@gmail.com
SMTP_PASS=your-gmail-app-password
SMTP_FROM_NAME=Expro Group
SMTP_FROM_EMAIL=ewf.exprogroup.bd@gmail.com
MAIL_REPLY_TO=ewf.exprogroup.bd@gmail.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=drkwc2yur
CLOUDINARY_API_KEY=165761859755841
CLOUDINARY_API_SECRET=iHiSH0x6-955tw0rR3AQvUqHepQ
